@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
 
*

{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "poppins",  sana-serif;
}
body{
    line-height: 1.6;
    color: blue;
}
h1{
    font-size: 36px;
    font-weight:bold;
    margin:40px 0 60px 0 ;
    color:black;
    text-align: center;
    
}
form{
   display:flex;
   justify-content: center;
   align-items: center;
    margin-bottom: 60px;
}
#search-input{
    width:400px;
    max-width: 400px;
    padding: 10px;
    border: none;
    box-shadow:0 0 6px rgba(0, 0,0, 0);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: white;
    border: none;
    font-size: 18px;
    box-shadow:0 0 6px rgba(0, 0,0, 0);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.Search-result{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

}